<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>KDesign Charts_基于金蝶的企业级设计系统 KDesign 实现</title>
    <meta data-rh="true" name="description" content="KDesign Charts 是基于金蝶的企业级设计系统 KDesign 实现的 echarts 皮肤，简单易用。">
    <meta data-rh="true" property="og:title" content="KDesign Charts_基于金蝶的企业级设计系统 KDesign 实现">
    <!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->

<script type='text/javascript'>
  !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.giocdn.com/2.1/gio.js","gio");
    gio('init','ae4711a217272ae8', {});

  //custom page code begin here

  //custom page code end here

  gio('send');

  </script>

  <!-- End GrowingIO Analytics code version: 2.1 -->
</head>
<body>
<div id="root"></div>
</body>
</html>
